form {
  position: absolute;
  background-color: white;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
}

.forms {
  box-shadow: 50px 20px 100px rgba(85, 85, 85, 0.49);
  top: 20%;
  left: 30%;
  width: 30%;
}

label {
  color: gray;
  font-size: 13pt;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
}

legend {
  color: #04AA6D;
}

select {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

button {
  margin-top: 25px;
  width: 30%;
  display: inline-grid;
}

#update {
  float: right;
}
