<form class="forms">
  <label for="unit">Unit/Apartment No</label>
  <input name="unit" id="unit" type="text" disabled>

  <label for="description" ></label>
  <input name="description" id="description" type="text" [(ngModel)]="issue$.description" disabled>

  <label for="status" >Status</label>
  <select id="status" name="status">
    <option value="1">Complete</option>
    <option value="2">In Progress</option>
  </select>

  <label for="type" >Type</label>
  <select id="type" name="type" disabled>
    <option value="1">Maintenance</option>
    <option value="2">Complaint</option>
  </select>

  <button type="button" class="outline_btn" id="cancel" (click)="hideUnhide()" >Cancel</button>
  <button type="button" class="cta" id="update" >Update</button>

</form>
