<section>

  <section class="top_bar_cards">

    <section class="dash_card">
      <p class="card_title">Total Properties</p>
      <p id="property_count" class="card_content">12</p>
    </section>

    <section class="dash_card">
      <p class="card_title">Total Tenants</p>
      <p id="tenant_count" class="card_content">12</p>
    </section>

    <section class="dash_card">
      <p class="card_title">Tickets Received</p>
      <p id="ticket_count" class="card_content">12</p>
    </section>

    <section class="dash_card">
      <p class="card_title">Tickets Completed</p>
      <p id="ticket_completed_count" class="card_content">12</p>
    </section>


  </section>

</section>

<app-tenant-requests id="tenant_requests_comp"></app-tenant-requests>
