<header>
  <button id="menu_btn"><svg height="25" width="25">
    <image xlink:href="assets/hamburger.svg" height="25" width="25"/>
  </svg></button>
  <h2>Dashboard</h2>
  <section class="user_details">
    <p id="user_name">Montreal Mossaru</p>
    <p>sahsj@ssajskn.com</p>
  </section>
</header>

<nav>
  <!--  <h3>ComplexPeople</h3>-->

  <svg id="icon" height="70" width="300" >
    <image xlink:href="assets/logo.svg" height="90" width="200"/>
  </svg>

  <svg id="bento_menu" height="25" width="25">
    <image xlink:href="assets/bento.svg" height="25" width="25"/>
  </svg>

  <a class="active" href="dashboard">
    <svg height="25" width="25">
      <image xlink:href="assets/dashboard.svg" height="25" width="25" class="active"/>
    </svg> <span class="link_text">Dashboard</span> </a>

  <a href="#apartment"><svg height="25" width="25">
    <image xlink:href="assets/apartment.svg" height="25" width="25"/>
  </svg> <span class="link_text">Apartments</span> </a>

  <a href="#tenants">
    <svg height="25" width="25">
      <image xlink:href="assets/tenant.svg" height="25" width="25"/>
    </svg> <span class="link_text">Tenants</span> </a>

  <a href="maintenance"> <svg height="25" width="25">
    <image xlink:href="assets/maintenance.svg" height="25" width="25"/>
  </svg> <span class="link_text">Maintenance</span> </a>

  <a href="#complaints"><svg height="25" width="25">
    <image xlink:href="assets/report.svg" height="25" width="25"/>
  </svg> <span class="link_text">Complaints</span> </a>

  <a href="#account"> <svg height="25" width="25">
    <image xlink:href="assets/account.svg" height="25" width="25"/>
  </svg><span class="link_text">Account</span></a>

  <a href="#logout"> <svg height="25" width="25">
    <image xlink:href="assets/logout.svg" height="25" width="25"/>
  </svg><span class="link_text">Logout</span></a>
</nav>

<main  id="main_content">
  <router-outlet></router-outlet>
</main>
