form {

}

label {
  display: block;
}

fieldset {
  width: 45%;
}

input {
  display: flex;
}

button {
  margin-top: 15px;
}

p {
  color: red;
}

input[type=radio] {
  display: inline-block;
}

button {
  display: block;
}

