/*Header Styles*/

header {
  top: 0;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  left: 12%;
  width: 87%;
  position: fixed;
  background-color: white;
  overflow: hidden;
}

header h2 {
  display: inline;
  margin-top: 10px;
  vertical-align: center;
  position: fixed;
}

#menu_btn {
  top: 12px;
  position: relative;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  display: none;
}

.user_details {
  float: right;
}

header p {
  color: gray;
  line-height: 1px;
}

#user_name {
  color: black;
  font-size: 18px;
  font-weight: bold;
  float: right;
  display: block;
  padding-right: 15px;
}

/*Navigation Styles*/

nav {
  margin: 0;
  padding: 0;
  width: 12%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
}

nav svg {
  top: 5px;
  position: relative;
  margin-right: 10px;
}

nav h3 {
  padding: 15px;
}

#icon {
  top: -10px;
  margin-left: 10px;
  overflow: hidden;
}


#bento_menu {
  padding: 16px;
  display: none;
}

a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 13pt;
}

a.active {
  background-color: rgba(4, 170, 109, 0.04);
  color: #00ab6c;
  font-weight: bold;
}

a :hover {
  background-color: rgba(4, 170, 109, 0.04);
  color: #00ab6c;
  font-weight: bold;
}

image.active {
  filter: invert(41%) sepia(44%) saturate(7488%) hue-rotate(144deg) brightness(106%) contrast(102%);
}

/*Main Content Styles*/

main {
  left: 12%;
  position: fixed;
  top: 50px;
  padding: 15px;
  width: 87%;
  height: 100%;
  overflow: hidden;
}

/*Responsive*/


@media screen and (max-width: 1000px) {
  .top_bar_cards {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  nav h3 {
    display: none;
  }

  #icon{
    display: none;
  }

  #bento_menu {
    display: block;
  }

  nav {
    width: 7%;
  }

  .link_text {
    display: none;
  }

  header {
    left: 7%;
    width: 93%;
  }

  main {
    left: 7%;
    width: 93%;
  }

}

@media screen and (max-width: 800px) {
  .top_bar_cards {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 600px) {
  .top_bar_cards {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
  }
  nav {
    display: none;
  }

  header {
    left: 0;
    width: 100%;
  }

  #menu_btn {
    display: inline;
  }

  main {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  header section {
    display: none;
  }
}
