/* You can add global styles to this file, and also import other style files */
* {
  font-family: Calibri, sans-serif;
}
body {
  background-color: #f1f1f1;
  overflow-x: hidden;
}

.cta {
  cursor: pointer;
  border: none;
  background-color: #04AA6D;
  font-weight: 500;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  color: white;
}

.cta :disabled {
  background-color: #a1a1a1;
  color: #000028;
}

.cta :hover {
  background-color: #02462d;
  color: #000028;
}

.outline_btn {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid;
  font-weight: 500;
  font-size: 14pt;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #04AA6D;
}

.issue_status_1 {
  background-color: #04AA6D;
  width: max-content;
  padding: 7px 20px;
  border-radius: 45px;
  color: white;
}

.issue_status_reject {
  background-color: #aa042b;
  width: max-content;
  padding: 7px 20px;
  border-radius: 45px;
  color: white;
}

.issue_status_2 {
  background-color: #d38105;
  width: max-content;
  padding: 7px 20px;
  border-radius: 45px;
  color: white;
}

/* For all tables to look the same*/
table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 99%;
}

table thead tr {
  background-color: #04AA6D;
  font-size: large;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  text-align: center;
}

tbody tr {
  border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

label {
  color: gray;
  font-size: 13pt;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 50%;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
}



caption {
  text-align: left;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}



