/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f1f1f1;
}

.issue_status_complete {
  background-color: #04AA6D;
  width: max-content;
  padding: 7px 20px;
  border-radius: 45px;
  color: white;
  box-shadow: 1px 1px 5px #555555;
}

.issue_status_reject {
  background-color: #aa042b;
  width: max-content;
  padding: 7px 20px;
  border-radius: 45px;
  color: white;
  box-shadow: 1px 1px 5px #555555;
}

.issue_status_progress {
  background-color: #d38105;
  width: max-content;
  padding: 7px 20px;
  border-radius: 45px;
  color: white;
  box-shadow: 1px 1px 5px #555555;
}
